/* Add your customizations of layout here */

.ui-card-body{

    height: 120px !important;
}
table{
    thead {
        background-color: #fff;
        height: 40px;
        tr{
          
            th{
                padding:20px;
                border-spacing: 0 !important;
            }
        }
    }
  
}

input[type='checkbox']{
    background:#e0e0e0;
}
.button-container{
    padding-top:15px;
    padding-left:20px;
}

.new-product-dialog {
    width: 50vw;
    height: 20vh;
}
