<div class="p-grid">
  <div class="p-m-12">
    <h1>Bem Vindo ao Painel de Administração</h1>
    <p>Abaixo as informações atualizadas diariamente das métricas da sua empresa</p>
  </div>
</div>
<section class="content p-grid  ">
  <div class=" p-col-3 p-md-3 p-lg-3">
    <p-card class="height">
      <div>
      Novos Produtos 
      </div>
      <div class="card-content">
        <h1>100</h1>
        <span>Unidades</span>
      </div>
    </p-card>
  </div>
  <div class="p-col ">
    <p-card class="height">
      <div>
      Categoria mais usada 
      </div>
      <div class="card-content">
        <h1>Limpeza</h1>
        <span></span>
      </div>
    </p-card>
  </div>
  <div class="p-col"></div>
 
</section>
<section class="newer-products">
  <div class="p-grid">
    <div class="p-m-12">
      <h1>Produtos Adicionados Recentemente</h1>
    </div>
  </div>
  <p-table [value]="cars"[paginator]="true" [rows]="5"  selectionMode="multiple" [(selection)]="selectedCars">
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let col of cols">
                <span *ngIf="col.header === 'Produto'"><input type="checkbox"></span>
                <span>{{col.header}}</span>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-car >
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of cols">
              <span *ngIf="col.header === 'Produto'"><input type="checkbox"></span>
                    {{car[col.field]}}
            </td>
        </tr>
    </ng-template>
    
</p-table>
<head>
<script src="https://kit.fontawesome.com/789b5f34ff.js" crossorigin="anonymous"></script>
  </head>