<div class="topbar">
    <a routerLink="/" class="topbar-logo">
        <img [attr.src]="app.layout === 'default' ? 'assets/common/logo-image.svg' : 'assets/layout/images/logo-white.png'" style="border: 0 none">
    </a>

    <a href="#" id="menu-button" (click)="app.onMenuButtonClick($event)">
        <i class="fa fa-bars"></i>
    </a>

   

    <label for="topbar-search">
        <i class="fa fa-search topbar-search-icon"></i>
    </label>
    <input type="text" class="topbar-search" placeholder="Pequisar Produtos Aqui" id="topbar-search" />

</div>
